
/***** SCROLL BAR **/

/* width */
::-webkit-scrollbar {
    width: 5px;
}
  
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #837E7C; 
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #000; 
}



/***** HEADER **/
.header {
    margin: 10px;
    float: left;
    font-weight: bold;
    font-size: 30px;
}


.header-right {
    float: right;
    margin: 20px 5px;
}

.header-right .vrsion {
    font-size: .6em;
    color: #000;    
    margin-top: 5px;
}

/***** data-list **/

.data-list 
{
    height: calc( 100vh - 125px );
}

.data-list th 
{
    text-transform: uppercase;
    font-weight: bold;
    background-color: #29465B !important;
    color: #fff !important;
}

/** for sorted header **/
.data-list .Mui-active {
    color: #fff !important;
}

.MuiTableSortLabel-icon {
    color: #fff !important;
}



/***** settings-form **/

.settings-form .header
{
    background-color: #5D6D7E !important;
    color: #fff;
}

.settings-form details
{
    background-color: #F8F9F9;
    margin: 10px 0px;
}

.settings-form summary
{
    background-color: #D6DBDF;
    margin: 10px 0px;
    padding: 10px 0px;
}


/***** Others **/

.error {
    background-color: #e75050 !important;
}